<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Micro Blog Api</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>Micro Blog Api</h1>
  <form action="./newuser" method="post">
    <input type="text" name="username">
  </form>
</body>
</html>
